<%
if current_admin != nil
  current_admin.bell = false
  current_admin.save
elsif current_user != nil
  current_user.bell = false
  current_user.save
end
%>
<div id="loadingScreen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(5px); align-items:center; justify-content:center;">
    <div id="contentLoadingScreen" style="background-color: #1b1b1b; width:350px; text-align:center; color:white; font-size:16px">
        <img id="imgLoading" src="assets/loadingPiccola.gif" alt="Stiamo contattanto i server di Battlenet per ottenere i dati" style="vertical-align: center">
    </div>
</div>

<div class="card text-center" style="background-color: #ffffffb3;">
  <div class="card-header"> NOTIFICHE </div>
  <div class="card-body">
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr>
          <th scope="col"> DA </th>
          <th scope="col"> A </th>
          <th scope="col"> TESTO </th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @notification.each do |n| %>
          <%
            if n.fromUser?
              from = User.find(n.from)
            else
              from = Admin.find(n.from)
            end

            if current_user != nil
              to = current_user
            elsif current_admin != nil
              to = current_admin
            end
          %>
          <% puts "from: #{from.nickname}  to: #{to.nickname}   n.from: #{n.from}"%>

          <tr class="table-light">
            <th scope="row" style="vertical-align: middle" > <%= from.nickname %> </th>
            <td style="vertical-align: middle" > <%= to.nickname %> </td>
            <td style="vertical-align: middle" > <%= n.body %> </td>

            <% if n.isinvitation? %>
              <td style="vertical-align: middle" > <button onclick="location.href = '<%= personstats_path %>#viewteam'" class="btn btn-dark"> View </button> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>