<% @notification.each do |n| %>
  
  <%
    if current_admin != nil
      current_admin.bell = false
      current_admin.save
    elsif current_user != nil
      current_user.bell = false
      current_user.save
    end
  %>

  <div style="text-align: center">
    <a> <%= n.from %> </a>
    <a> <%= n.to %> </a>
    <a> <%= n.body %> </a>

    <% if n.isinvitation? %>
      <button onclick="location.href = '<%= personstats_path %>#viewteam'" class="btn btn-dark"> View </button>
    <% end %>
  </div>
<% end %>