<h2> Hi! </h2>
<div class="card text-center" style="background-color: #ffffffb3;">
  <div class="card-header">
      LISTA UTENTI
  </div>
  <div class="card-body">
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr>
          <th scope="col">NICKNAME</th>
          <th scope="col">EMAIL</th>
          <th scope="col">ABBONAMENTO</th>
          <th scope="col">REGALA ABBONAMENTO</th>
          <th scope="col">ELIMINA UTENTE</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-light">
          <th scope="row">1</th>
          <td>2</td>
          <td>3</td>
          <td> <button> Click Me! :) </button> </td>
          <td> <button> Click Me! :) </button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card text-center" style="background-color: #ffffffb3;">
  <div class="card-header">
      LISTA TEAM
  </div>
  <div class="card-body">
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr>
          <th scope="col">NOME TEAM</th>
          <th scope="col">LISTA COMPONENTI</th>
          <th scope="col">ELIMINA TEAM</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-light">
          <th scope="row">1</th>
          <td>
            <div style="display: flex; flex-direction: column; flex-wrap: wrap">
              <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around"> 
                <a> Utente 1 </a>
                <a> Utente 2 </a>
              </div>
              <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around"> 
                <a> Utente 3 </a>
                <a> Utente 4 </a>
              </div>
            </div>
          </td>
          <td> <button> Click Me! :) </button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card text-center" style="background-color: #ffffffb3;">
  <div class="card-header">
      INVIA COMUNICAZIONE
  </div>
  <div class="card-body">
    <input type="text-area" style="width: 80%; height: 90%">
  </div>
  <button> INVIA! </button>
</div>

<button> Blocca temporaneamente il sito </button>